[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.5
[submodule "src/thirdparty/cppjieba"]
	path = src/thirdparty/cppjieba
	url = https://github.com/LuYingYiLong/cppjieba.git
